
.site-cont{
    margin-top: 2.8rem;
    padding: 2rem;
    border-radius: 15px;
}


    /* Responsive quaries  
     @media (min-width: 0px) and (max-width: 575px) {
       .ovelay{

       }
    }

    @media (min-width: 576px) and (max-width: 767px){
        .ovelay{
            
        }
    } 
    */